<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr />
<p class="animated fadeIn">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit nostrum nemo, magnam accusantium a amet illo et totam atque impedit vel. Reiciendis incidunt veritatis eum, distinctio harum adipisci fugiat sequi. Lorem ipsum, dolor sit amet consectetur
    adipisicing elit. Et quia earum, fugiat aliquam quas tenetur facilis totam iure. Placeat facilis quas molestiae quia excepturi, eos id maiores distinctio nostrum! Adipisci. Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga sit inventore
    rem dolorum est molestias autem voluptatibus assumenda ea natus. Vitae quasi tempore, beatae ad dicta nemo explicabo vel eos!
</p>